*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background: color #D9D9D9;
}
/*Header*/
header{
    margin: 0px;
    height: 44px;
    color: black;
    background-color: rgb(217, 217, 217);
    border: none;
    text-align:  left;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
}

/*navbar links*/
.nav-links{
    height: 30px;
    width: 600px;
    background-color: #D9D9D9;
    display: inline-block;
    margin: 0px;
    display: flex;
    flex: 1;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 0;
    padding-top: 14px;
}
/*carousel style*/
.carousel-item{
  height: 400px;
  background: black;
  color:whitesmoke;
  position: relative;

}
.container{
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding-bottom: 30px;
  padding-left: 35px;
}
.overlay-image{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5; 
}
/*nav-links ul li style*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li {
    display: inline;
  }
/*search bar container style*/
.search-bar-container{
  
}

#box-img{
    height: 250px;
    width: 200px;
    display: inline-block;
    padding: 10px 15px 30px 15px;
}
#image-container {
    width: 80%;
    overflow-x: auto;
    white-space: nowrap;
    position: relative; 
}
#imgs{
    height: 225px;
    width: 190px;
    margin: 10px;
    max-height: fit-content;
    max-width: 90%;
}
h3{
    color: rgb(0, 0, 0);
    margin-left: 17px;
    margin-top: 20px;
    text-align: center;
}
#line {
    border-bottom: 10px solid black;
}
/*Footer style*/
footer{
    height: 100%;
    color: black;
    background-color: rgb(217, 217, 217);
    border: none;
    text-align:  left;
}
footer a>img{
    border: 1px solid color(srgb 0.8509 0.851 0.8511);
    border-radius: 70%;
    height: 24px;
}
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: #D9D9D9;
  }
  
  .Facebook {
    background: #D9D9D9;
    color: white;
  }
  
  .X {
    background: #55ACEE;
    color: white;
  }
  /* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: purple;
  }

  /* selected link */
  a:active {
    color: blue;
  }